<%-include header%>
			<div class="center-right col-lg-9 col-md-9 col-sm-9 col-xs-12">
					<h3>你好！当前角色: 普通用户</h3>
					
					<div class="row">
						<div class="col-lg-2 col-md-5 col-sm-10 col-xs-11 bg" style="background-color: #1ABC9C"><h2>0</h2>内容</div>
						<div class="col-lg-2 col-md-5 col-sm-10 col-xs-11 bg" style="background-color: #E84C3D"><h2>1</h2>分类</div>
						<div class="col-lg-2 col-md-5 col-sm-10 col-xs-11 bg" style="background-color: #3598DB"><h2>0</h2>评论</div>
						<div class="col-lg-2 col-md-5 col-sm-10 col-xs-11 bg" style="background-color: #1ABC9C"><h2>0</h2>用户</div>
						<div class="col-lg-2 col-md-5 col-sm-10 col-xs-11 bg" style="background-color: #3598DB"><h2>1</h2>角色</div>
						<div class="col-lg-2 col-md-5 col-sm-10 col-xs-11 bg" style="background-color: #9A59B5"><h2>0</h2>文件</div>
					</div>
<%-include footer%>